{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Document</title>

{% endblock %}

{% block content %}
<body>
	{% include 'include/mobMenu.html' %}
	{% include 'include/header.html' %}
	<div class="tipsPopup popup"
		 style="width: 600px; text-align: justify;  margin: 0 auto;">
		<div class="tips_title tipsPopup__title" style="width: 80%">К
            сожалению оплата не прошла, попробуйте оплатить позже.</div>
		<form class="tipsPopup__form" method="post">
			{% csrf_token %}

			<input action="/index" name="value_tips" type="hidden"
				   class="tipsPopup__form_input popup__input"
				   placeholder="0.00">
			<a href="{% url 'index' %}">
				<button
					class="tipsPopup__btn popup__btn"
					style="width: 80%; text-align: center;  margin: 0 auto;">Вернуться на главную
					страницу.
				</button>
			</a>
		</form>
	</div>
{% endblock %}